aniso8601==3.0.2
asn1crypto==0.24.0
cffi==1.11.5
click==6.7
cryptography==2.3
Flask==1.0.2
Flask-MySQL==1.4.0
Flask-RESTful==0.3.6
future==0.16.0
idna==2.7
iso8601==0.1.12
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mysql-connector==2.1.6
pycparser==2.18
PyMySQL==0.9.2
pytz==2018.5
PyYAML==3.13
serial==0.0.67
six==1.11.0
Werkzeug==0.14.1
